<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianmo.jinxiaocun">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".main.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fu.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
        <activity android:name=".fu.activity.TaskNotifyActivity" />
        <activity android:name=".fu.activity.ApprovalNotifyActivity" />
        <activity android:name=".fu.activity.AlarmNotifyActivity" />
        <activity android:name=".fu.activity.TaskActivity" />
        <activity android:name=".fu.activity.TaskAddActivity" />
        <activity android:name=".fu.activity.PersonalInfoActivity" />
        <activity android:name=".fu.activity.TaskDetailActivity" />
        <activity android:name=".fu.activity.ApprovlaActivity" />
        <activity android:name=".fu.activity.MyApprovalActivity" />
        <activity android:name=".fu.activity.MyReleaseActivity" />
        <activity android:name=".fu.activity.CardApplyActivity" />
        <activity android:name=".fu.activity.CardDetailActivity" />
        <activity android:name=".fu.activity.LeaveApplyActivity" />
        <activity android:name=".fu.activity.LeaveDetailActivity" />
        <activity android:name=".fu.activity.ReimbursementActivity" />
        <activity android:name=".fu.activity.ReimbursementDetailActivity" />
        <activity android:name=".fu.activity.MaterialActivity" />
        <activity android:name=".fu.activity.MaterialApplyDetailActivity" />
        <activity android:name=".fu.activity.TourShopManagerActivity" />
        <activity android:name=".fu.activity.TourTaskAddActivity" />
        <activity android:name=".fu.activity.TourDetailActivity" />
        <activity android:name=".fu.activity.AttendanceActivity" />
        <activity android:name=".fu.activity.CardRecordActivity" />
        <activity android:name=".fu.activity.SubCardRecordDetailActivity" />
        <activity android:name=".fu.activity.PromotionManagementActivity" />
        <activity android:name=".fu.activity.PurchaseManagerActivity" />
        <activity android:name=".fu.activity.PurchaseOrSalesHistoryActivity" />
        <activity android:name=".fu.activity.SearchOrderActivity" />
        <activity android:name=".fu.activity.PurchaseOrdersActivity" />
        <activity android:name=".fu.activity.SalesManagerActivity" />
        <activity android:name=".fu.activity.SalesSearchOrderActivity" />
        <activity android:name=".fu.activity.NewSalesOrdersActivity" />
        <activity android:name=".fu.activity.ChooseProductActivity" />
        <activity android:name=".fu.activity.SalesOrdersDetailActivity" />
        <activity android:name=".fu.activity.MoneyManagerActivity" />
        <activity android:name=".fu.activity.NewMoneyOrderActivity" />
        <activity android:name=".fu.activity.ChooseCostProjectActivity" />
        <activity android:name=".fu.activity.InventoryManagerActivity" />
        <activity android:name=".fu.activity.SearchInventoryActivity" />
        <activity android:name=".fu.activity.SearchInventoryProductActivity" />
        <activity android:name=".fu.activity.ProductDetailActivity" />
        <activity android:name=".fu.activity.ProductDetail2Activity" />
        <activity android:name=".fu.activity.CheckHistoryActivity" />
        <activity android:name=".fu.activity.SearchCheckHistoryActivity" />
        <activity android:name=".fu.activity.CheckOrderActivity" />
        <activity android:name=".fu.activity.CheckDetailActivity" />
        <activity android:name=".fu.activity.InventoryAlarmActivity" />
        <activity android:name=".fu.activity.SearchAlarmProductActivity" />
        <activity android:name=".fu.activity.ForMeTaskDetailActivity" />
        <activity android:name=".fu.activity.NewspaperActivity" />
        <activity android:name=".fu.activity.StartTourShopActivity" />
        <activity android:name=".fu.activity.CreateMarketActivity" />
        <activity android:name=".fu.activity.ReturnHistoryActivity"></activity>
    </application>

</manifest>